.card {
    width: 260px;
    &__icon {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-height: 65px;
        }
    }
    &__descr {
        margin-top: 7px;
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
    }
}