.devaider {
    width: 148px;
    height: 1px;
    background-color: $main-color;
    margin: 0 auto;
    margin-bottom: 17px;
    &_org {
        margin-top: 20px;
    }
    &_footer {
        margin-top: 26px;
        margin-bottom: 0;
        width: 1171px;
        background-color: #fff;
        opacity: 0.3;
    }
}